.appointment-status-wrapper-w{background-color: #000000 !important;border-color: #000000 !important;}
.circle-chart-wb{background-color: #000000 !important;border-color: #000000 !important;}
.button-w{background-color: #000000 !important;border-color: #000000 !important;}
.wb_slot_checked{background-color: #000000 !important;border-color: #000000 !important;}
.middleDay > .cell_inner{background-color: #000000 !important;border-color: #000000 !important;}
.checkbox-custom-w input:checked ~ .checkmark-w{background-color: #000000 !important;border-color: #000000 !important;}
.checkbox-subtitle-w{color: #000000 !important;color: #000000 !important;}
.wbk_service_item_active{background-color: #000000 !important;border-color: #000000 !important;}
