@tailwind base;
@tailwind components;
@tailwind utilities;

/****** Custom components ******/
@layer components {
  /* Custom button */
  #cendrie-body .cendrie-page .cendrie-submit-button-contact-form {
    @apply bg-blue-500 hover:bg-blue-700 text-white text-lg py-2 px-4 rounded sm:w-fit w-full;
  }

  /* Turn extra container to flex column */
  .cendrie-body-template {
    display: flex;
    flex-direction: column;
  }
}
/******* Custom utililties  ******/
@layer utilities {
  /* extra height container */
  .cendrie-h-full {
    height: 100%;
  }
}

/* Main image on home page */
#cendrie-body .cendrie-page .home-content figure img {
  width: 100%;
}

/* Link style */
#cendrie-body .cendrie-page .home-content p a,
#cendrie-body #cendrie-footer p a {
  text-decoration: underline;
}

/* set body's height to maximum value */
.cendrie-page {
  flex: 1 0 auto;
}
